.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__window {
    margin: auto;
    padding: 20px;
    max-width: 1230px;
  
    width: 500px;
    background: white;
    box-shadow: 6px 2px 10px gray;
    border-radius: 4px;
}

.header-container {
    padding: 3px 15px 10px;
}
.user-name--text {
    font-size: 1.5rem;
}

.main-form-container {
    padding: 15px;
    color: #8B7969;
}

.main-form-container__content {
    padding: 5px 0;
    display: flex;
}

.main-form-container__content-title {
    width: 150px;
}

.main-form{
    width: 100%;
    align-items: center;
}
.main-form__button {
    width: 100%;
    padding: 5px;
    display:flex;
    justify-content: center;
}
.button--submit{
    width: 80px;
    height: 30px;
    background:#BA370D;
    color:#fff;
    font-weight: bold;
    border: none;
    margin: 0 10px;
}
.button--cancel {
    background: rgb(171, 155, 155);
}
.button--submit:hover{
    background: #e5af9d;
    color: #000;
    cursor: pointer;
}


