.main-container{
  padding: 15px;
  height: 100vh;
  width: 100%;
}

/* =================================== */
/* 予約内容確認 */
/* =================================== */
.reservation {
  background:#305DFF ;
  height: 100%;
  border-radius: 5px;
  position: relative;
}
.reservation__contents{
  display: block;
  padding: 10px 10px 100px 10px;
}
.reservation__title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.reservation__title span {
  font-weight: 550;
}
.reservation__content {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.reservation__content input, .reservation__content select {
  height: 30px;
  width: 180px;
  border: none;
  border-radius: 5px;
}

.reservation__button-container {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #0438FF;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
}

.reservation__button {
  width: 250px;
  height: 70%;
  transform:translate(0 ,15%);
  border-radius: 5px;
  border: none;
  cursor: spointer;
  margin: 0 15px;
  font-size: 1.1rem;
  font-weight: 700;
  background: #82756A;
  color: #fff;
}

.reservation__button-cancel {
  width: 150px;
  background: #F0f0f0;
  color: #8B7969;
  font-size: 1rem;
  font-weight: 400;
}

.reservation__button:hover{
  background: #c7c0ba;
}

/* =================================== */
/* 予約内容の表の部分 */
/* =================================== */
.confirm-table {
  width: 100%;
  table-layout: fixed;
}

.confirm-table tr{
  width: 100%;
}

.confirm-table__header {
  padding: 15px;
  width: 120px;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

.confirm-table__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;  
  background-color: transparent;
}

.confirm-table__text ul {
  padding-left: 10px;
}

.confirm-table__text input, .confirm-table__text span, .confirm-table__text li{
  width: 100%;
  outline: none;
  border: none;
  color:#fff;
  font-weight: 600;
  font-size: 1rem;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
}


/* =================================== */
/* レスポンシブデザイン対応 */
/* =================================== */
@media screen and (max-width: 768px){

}

@media screen and (max-width: 428px){
    .confirm-table__header {
        padding: 15px 0px;
        width: auto;
        max-width: 100px;
      }
}