.main-container {
  margin: 0 auto;
  padding: 15px 15px 60px 15px;
  max-width: 1230px;
}

.panel-section__item--button--detail:hover {
  background: #333;
}

/* =================================== */
/* search-container */
/* =================================== */
.search-container{
  width: 100%;
  padding: 5px 2px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background: #FBFBFB;
  box-shadow: 2px 2px 2px gray;
  border-radius: 4px;
}
.search-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  width: 100%;
  padding:0;
}

.search-item{
  height: 100%;
  background:#FBFBFB;
  border: none;
  border-right: 1px solid #ccc;
  color:#8B7969;
  margin:0 5px;
  padding:2px 5px;
}
.search-item:last-child {
  border: none;
}


.search-item--category{
  flex-grow: 2;
}
.search-item--category select{
  width: 100%;
  color:#8B7969;
  border: none;
}

.search-item--keyword{
 flex-grow: 2;
 margin-left: 0;
 display: flex;
 align-items: center;
}
.search-item--keyword span {
  font-size: 1rem;
}
.search-item--keyword input{
  border: none;
  width: 100%;
}


/* =================================== */
/*  店舗情報のタイル部分　*/
/* =================================== */
.panel-section {
  margin-top: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}
.panel-section__item {
  border-radius: 5px;
  background: white;
  padding: 0;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}
.panel-section img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
.panel-section__item--content {
  margin: 10px;
}
.panel-section__item--name {
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}
.panel-section__item--tag {
  text-align: left;
  font-size: 0.9rem;
}

.panel-section__item--button {
  margin: 10px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-section__item--button--detail {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #305DFF;
  color: white;
  border: none;
  font-size: 0.7rem;
}
.panel-section__item--button--detail:hover {
  background: #c7c0ba;
}

.panel-section__item--button--favorite {
  border: none;
  background: transparent;
}

/* =================================== */
/* レスポンシブデザイン対応 */
/* =================================== */
@media screen and (max-width: 768px){

}
