.form-content {
  margin: 0 auto;
  padding: 15px 15px 60px 15px;
  max-width: 1230px;
}
.form-header{
  display: grid;
  width: 100%;
  height: 80px;
  grid-template-columns: minmax(70px, 20%) 1fr;
  grid-template-rows: 100%;
  align-items: center;
}
.form-header__1st-block{
  grid-column: 1;
  height: 100%;
}
.form-header__2nd-block {
  grid-column: 2;
  height: 100%;
}
.main-container{
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1.3fr minmax(350px, 1fr);
  height: 100vh;
}

.sub-container {
  width: 100%;
  height: 100%;
}
.sub-container:nth-child(1) {
  padding-right: 10px;
}

/* =================================== */
/* user name */
/* =================================== */
.user-name__container {
  padding: 5px 0;
  display: flex;
  justify-content: right;
}
.user-name__content {
  display: flex;
  align-items: center;
  white-space: nowrap;
  background: #FBFBFB;
  padding: 5px 10px;
}
.user-name__container span:nth-child(2) {
  margin-left: 10px;
}
.user-name__container span{
  color: #666;
}

/* =================================== */
/* 店舗詳細表示画面（左側） */
/* =================================== */

.shop-detail {
  width: 100%;
  padding: 10px;
}

.shop-detail__name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.shop-detail__name button {
  width: 30px;
  height: 30px;
  border-radius: 5px ;
  border: none;
  background: white;
  box-shadow: 2px 2px 2px gray;
}

.shop-detail__name span {
  margin-left: 10px;
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.shop-detail img {
  width: 100%;
}

.shop-detail__content {
  text-align: left;
  font-size: 0.9rem;
  color: #333;
  margin: 20px 0;
}


.shop-detail--button {
  margin: 10px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-grid button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #305DFF;
  color: white;
  border: none;
  font-size: 0.7rem;
}
.material-icons{
  color: lightgray;
}


/* =================================== */
/* 予約入力画面（右側） */
/* =================================== */
.reservation {
  background:#305DFF ;
  height: 80%;
  border-radius: 5px;
  position: relative;
}
.reservation__inputs{
  display: block;
  padding: 10px 10px 100px 10px;
}
.reservation__title {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.reservation__content{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.reservation__content--title {
  margin-right: 20px;
  width: 80px;
  color: white;
}
.reservation__content input, .reservation__content select {
  height: 30px;
  width: 180px;
  border: none;
  border-radius: 5px;
}
.reservation__button-container {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #0438FF;

  border-radius: 0 0 5px 5px;
}
.reservation__button-container button {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height: 100%;
  font-weight: 800;
  font-size: 1.1rem;
  color: white;
  background: transparent;
  border: none;

}
.reservation__button-container:hover {
  background: #7992f8;
}

.reservation__content--current-value span{
  font-weight: bold;
  color: #eee;
}

/* =================================== */
/* レスポンシブデザイン対応 */
/* =================================== */
@media screen and (max-width: 768px){
  .main-container{
    display: block;
    height: auto;
  }
  .sub-container{
    width: 100%;
  }


}