body{
  margin: 0;
  height: 100%;
}

.thanks__content {
  display       : inline-block;        
  position      : relative;             
  overflow      : hidden;               
  margin        : 0 auto;              
  width         : 100%;                
  height        : 90vh;                
}

.backStr {
  position      : absolute;             
  display       : inline-block;         
  white-space   : nowrap;               
  font-size     : 22vw;                 
  font-weight   : bold;   
  color         : #82756A10;              
  top           : 50%;
  left          : 50%;
  transform     : translate(-50%, -50%);

  font-family: 'Inika';
  font-weight: normal;
}

.thanks__content--inner{
  width         : 100%;
  height        : 100%;
  display       : inline-block;         
  position      : absolute;                     
  border        : none;                 
  top           : 45%;                   
  left          : 0;
  right         : 0;
  bottom        : 0;
}

.thanks__heading {
  margin-bottom: 40px;
  text-align: center;  
}
.thanks__heading h2{
  font-weight: bold;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.form__button-submit {
  padding: 0;
  width: 150px;
  height: 50px;
  border: none;
  background: #82756A;
  cursor: pointer;
}
.form__button-submit:hover{
  background: #c7c0ba;
}
.form__button a{
  text-decoration: none;
  color: #fff;
  display: block;
  line-height: 50px;
}
