.main-form {
    margin: 0 auto;
    padding: 15px 15px 60px 15px;
    max-width: 1230px;
}

.main-form__title{
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form__content{
    margin: 10px 0 35px 0;
}
.main-form__content__addition{
    margin-top: 50px;
}

.main-form__content p{
    margin:5px 0;
    line-height: 1;
}

.main-form__content a {
    text-decoration: none;
    color:#FFF;
}
.main-form__content button{
    margin-left:20px;
    width: 160px;
    height: 35px;
    background-color: #BAA899;
    color: #FFF;
    font-size: 0.8rem;
    border: none;
}
.main-form__content button:hover{
    background:#ccc;
}

.main-content{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 100px;
}

.main-content button{
    font-size:1rem;
    font-weight: bold;
    width: 240px;
    height: 45px;
}



